<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Results</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-                  dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>{% include "simple-sidebar.css" %}</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      {% include "nav_bar.html" %}
	

	    <div id="wrapper">
            {% include "sidebar.html" %}

	        <!-- Page Content -->
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12" style="top:20px">
	                        <h1>Results</h1>
                            <a href="searchCoachPage.html" class="btn btn-default navbar-right" id="menu-toggle">Start new search</a>
                            
	                        <table class ="table table-striped">
	                           <thead>
	                               <tr class ="stuff">
                                        <!--	<th class ="leader-name">Rank</th> -->
	                                    <th class ="leader-name">Coach</th>
	                                        <th>MMR</th>
	                                        <th>Price/hr></th>
	                                        <th>Server</th>
                                            <th class="col-md-1">Heroes</th>
                                            <th>Reputation</th>
                                            <th>User Rating</th>
                                            <th>Students</th>
	                               </tr>
	                           </thead>

	                           <tbody style = "font-size:20px">
	                               <tr>
                                        <td style = "color:blue">someguy</td>
                                        <td>6123</td>
                                        <td>$9</td>
                                        <td>US</td>
                                        <td><img src = "pictures/heroes1.jpg"/></td>
                                        <td>332</td>
                                        <td>9/10</td>
                                        <td>50</td>
	                               </tr>
                                   
                                   {% for coach in coaches %}
                                   <tr>
                                       {% for attribute in coach %}
                                       <td>{{attribute}}</td>
                                       {% endfor %}
                                   </tr>
                                   {% endfor %}
                                   
<!--                                   <tr>-->
<!--                                   {% for attribute in coach %}-->
<!--                                       <td>{{attribute}}</td>-->
<!--                                   {% endfor %}-->
<!--                                   </tr>-->

                                   <tr>
	                                   <td style = "color:blue">someguy2</td>
	                                   <td>5543</td>
	                                   <td>$4</td>
                                        <td>US</td>
                                        <td><img src = "pictures/heroes2.jpg"/></td>
                                        <td>443</td>
                                        <td>8/10</td>
                                        <td>70</td>
	                               </tr>
                                   <tr>
                                        <td style = "color:blue">someguy3</td>
                                        <td>5321</td>
                                        <td>$2</td>
                                        <td>Europe</td>
                                        <td><img src = "pictures/heroes3.jpg"/></td>
                                        <td>332</td>
                                        <td>5/10</td>
                                        <td>20</td>
	                               </tr>
                                   <tr>
                                        <td style = "color:blue">somegirl</td>
                                        <td>5600</td>
                                        <td>$6</td>
                                        <td>Europe</td>
                                        <td><img src = "pictures/heroes4.jpg"/></td>
                                        <td>300</td>
                                        <td>8/10</td>
                                        <td>30</td>
	                               </tr>
                                   <tr>
                                        <td style = "color:blue">freeguy</td>
                                        <td>4500</td>
                                        <td>$0</td>
                                        <td>Asia</td>
                                        <td></td>
                                        <td>500</td>
                                        <td>7/10</td>
                                        <td>80</td>
	
	                               </tr>
                                </tbody>
                            </table>
                        </div>
	               </div>
	           </div>
                
                <div>
                    <br>
                    <a href="tutorSelectedPage.html" class="btn btn-success navbar-right" id="menu-toggle">Continue</a>
                </div>
                
                
                
	        <!-- /#page-content-wrapper -->
	    </div>
	    <!-- /#wrapper -->

	    <!-- jQuery -->
	    <script src="js/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>

	    <!-- Menu Toggle Script -->
	    <script>
	    $("#menu-toggle").click(function() {
	        $("#wrapper").toggleClass("toggled");
	    });
	    </script>
  </body>
</html>
