<!-- jumbotron -->
        <div class="jumbotron">
            <div class="container text-center">
                <h1 style="font-family: Montserrat, serif;">JOIN US TODAY</h1>
                <p style="font-family: Ubuntu, serif">Play like a PRO, win like a PRO</p>
                
                <div class="btn-group">
                    <a href="/findcoach" class="btn-lg btn-primary">Find Coach Now</a>
                    <a href="" class="btn-lg btn-primary">Apply For Coach</a>
                </div>
            </div>  
        </div> 
<!-- End jumbotron -->