<!-- jumbotron -->
        <div class="container" id="container1" >
            <div class="intro-text">
                <div class="intro-lead-in">join us today</div>
                <div class="intro-heading">Play like a PRO, win like a PRO</div>

                <div class="btn-group">
                    <a href="/sideapp/findcoach" class="btn-lg btn-warning">Find Coach Now</a>
                    <a href="" class="btn-lg btn-warning">Apply For Coach</a>
                </div>
            </div>
        </div>
<!-- End jumbotron -->
