<!-- Sidebar -->
<div id="sidebar-wrapper"  style="clear: both; float:left; top:50px">
  <form id="form_search" method="get" action="/sideapp/searchCoach">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">Tutor Search</a>
        </li>
        <li class="dropdown">
            <select name="Server" id="Server"style="background-color:#222; color:White; border:none">
                <option>Server</option>
                <option>------</option>
                <option>North America</option>
                <option>Latin America</option>
                <option>Asia</option>
                <option>Europe</option>
            </select>
        </li>
        <li class="dropdown">
            <select id="Role"style="background-color:#222; color:White; border:none">
                <option>Role</option>
                <option>------</option>
                <option>ADC</option>
                <option>Support</option>
                <option>Mid</option>
                <option>Top</option>
                <option>Jungle</option>
            </select>
        </li>
        <li class="dropdown">
            <select id="Champion"style="background-color:#222; color:White; border:none">
                <option>Champion</option>
                <option>------</option>
                <option>Long List</option>
                <option>Long List</option>
                <option>Long List</option>
                <option>Long List</option>
                <option>Long List</option>
            </select>
        </li>
        <li class="dropdown">
            <select id="Ranking" style="background-color:#222; color:White; border:none">
                <option>Rank</option>
                <option>------</option>
                <option>Challenger 1-5</option>
                <option>Master 1-5</option>
                <option>Diamond 1-5</option>
                <option>Gold 1-5</option>
                <option>Silver 1-5</option>
                <option>Bronze 1-5</option>
            </select>
        </li>

        <li style="position:relative"><a href="/sideapp/list_of_coaches">Search!</a></li>
        <input id="search" value="Search!" type="submit"/>
    </ul>
  </form>
</div>
<!-- /#sidebar-wrapper -->

<script type="text/javascript">
function calculate(){
  alert("testing!")
  Dajaxice.examples.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
}
</script>

<script>
    $(function() {
        var form = $('#form_search');                   // Get the form.

        $(form).submit(function(event) {                // Set up an event listener for the contact form.
            event.preventDefault();                     // Stop the browser from submitting the form.
            var formData = $(form).serialize();         // Serialize the form data.
            $.ajax({                                    // Submit the form using AJAX.
                type: 'GET',
                url: $(form).attr('action'),
                data: formData,
                dataType:'text',
            })
            .done(function(response) {
                alert(response);
            })
            .fail(function(response) {
                alert("Oops! An error occured sending your review.");
            });
        });
    });
</script>
